html,
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #13005a;
  justify-content: space-around;
}
input,select,option {
  padding: 10px;
  margin-bottom: 25px;
}
button {
  padding: 10px;
  background-color: #1c82ad;
  color: white;
  border-radius: 20px;
  border: 1px solid white;
}
.classic_div{
  display: flex;
  flex-direction: column;
  width: 250px;
  color: white;
  padding: 60px;
  background-color: #00337c;
}
.title{
  font-size: 25px;
  text-align: center;
  position: relative;
  top: -80px;
  background-color: #03C988;
  padding: 10px;
}
.result{
  margin-top: 30px;
  text-align: center;
  font-size: 20px;
}